<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="VismaSalary" connectionString="Data Source=mindsql\mindsql;Initial Catalog=F0001;Persist Security Info=False;User ID=LonXML;Password=Vinter2016!" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="filename" value="c:/temp/xmltoimport.xml"/>
    </appSettings>
</configuration>